<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!-- Pfad zur Logdatei -->
    <property name="APP_NAME" value="bluesky-warehouse"/>
    <property name="LOG_PATH" value="/logs"/>

    <!-- Konsolenausgabe -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%X{traceId} - %X{userId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- JSON-Dateiausgabe -->
    <appender name="JsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date",
                        "level": "%level",
                        "traceId": "%X{traceId}",
                        "userId": "%X{userId}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="JsonFile"/>
    </root>

    <logger name="com.example" level="INFO"/>
</configuration>
